.first{
    border:2px solid black;
    height: 20vh;
}

.purple{
    height:130px;
    width:60px;
    background-color: rgb(105, 6, 185);
    display: inline-block;
    margin-left: 5vh;
  
}

.green{
    height:180px;
    width:400px;
    background-color:green;
    display: inline-block;
    margin-left: 4vh;
    margin-top: 1vh;


}

.blue{
    height:170px;
    width: 170px;
    border-radius: 50%;
    background-color:rgb(100, 163, 235);
   
    display:inline-block;
    margin-left: 5vh;
}

/* ----------------------second part------------------------- */

.second{
    border:4px dotted;
    height:20vh;
    margin-top: 3vh;
}

.box{
    height:15vh;
    width: 180vh;
    background-color: rgb(243, 243, 176);
    margin-top: 2.5vh;
    margin-left:6.5vh;
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* --------------------third--------------------- */
.third{
    border-style: ridge;
    height: 20vw;
    width:40vw;
    margin:auto;
    margin-top: 25px;
    margin-left: px;
    box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);

}

.text{
    height: 10vh;
    width: 10vw;
    margin: 7vh;
    font-size: 40px;
    margin:140px;
    color:blue;
}
    


/* style ridge  */

